<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{.User}}!</h1>
    <a href="/pages/signup"><button>Signup</button></a>
    <a href="/pages/login"><button>Login</button></a>
    <a href="/pages/post"><button>Post</button></a>
    <a href="/pages/posts"><button>See Posts</button></a>
    <form action="/logout" method="POST">
  <button type="submit">Log out</button>
</form>
</body>
</html>