<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{.User}}!</h1>
<a class="btn" href="/pages/signup">Signup</a>
<a class="btn" href="/pages/login">Login</a>
<a class="btn" href="/pages/post">Post</a>
<a class="btn" href="/pages/posts">See Posts</a>
<form action="/logout" method="POST" style="display:inline;">
  <button type="submit">Log out</button>
</form>

</body>
</html>