<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="navbar">
        <a class="btn" href="/pages/signup">Signup</a>
        <a class="btn" href="/pages/login">Login</a>
        <a class="btn" href="/pages/post">Post</a>
        <a class="btn" href="/pages">Home</a>
    </div>
    <h1>Welcome {{.User.User}}!</h1>
    <h2>Your Blog Posts</h2> 
    <ul>
        {{range .Posts}}
            <h3>{{.Title}}</h3>
            <p>by {{.Username}} - - - {{.Created_at}}</p>
            <p>{{.Body}}</p>
        {{else}}
         <br><br> 
         <h1>No Posts Yet. You got this!</h1></h2>
        {{end}}
    </ul>
</body>
</html>